@media screen and (max-width: 768px) and (min-width: 120px){
    #search{
        margin-left: 35px;
        scale: 50%;
    }
    #input{
        scale: 50%;
    }
    .App-Logo {
        scale:90%;
    }
    .App_name{
        scale:50%;
    }
    main{
        margin-top: 120px;
        margin-right: 20px; 
        margin-left: 20px;
        padding-left: 10px;
    }
    header {
        height: 11vh;
    }
    footer{
        height: 12hv;
    }
    .forecstD{
    width: 100%;
    margin: 20px 0px;
    color: aliceblue;
    }
}
