@import url('https://fonts.googleapis.com/css2?family=Solway:wght@700;800&display=swap');

* {
    
    font-family: 'Solway', serif;
    font-weight: 800;

}
/* Header Style */
header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./icons/16953.jpg');
    position: fixed;
    top: 0;
    left:0px;
    box-shadow: 0px 0px 10px black;
}

#App_Name {
    
    color:white;
    font-weight: 700;
    font-size: 28px;
    padding: 5px;    
}

#App_Name span {
    font-size: 20px;
    font-weight: 800;
    color:
    rgb(214, 147, 45)
}

.App-Logo {
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.App_Icon {
    width: 40px;
}
html{
    height: 100%;
}
h1{
    text-align: center;
}
body{
    background-image: url('./icons/Cloudy-Bg.svg');
    background-size: cover;
    background-repeat: no-repeat;

}

.App_name{
    margin:50px;
}
.App_name h1{
    font-family: 'Solway', serif;
    font-weight: 700;
    color: rgb(214, 147, 45);
    text-decoration: underline;
    
}
#input{
    font-size: 18px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 15px;
    background: aliceblue;
}
#search{
    background: none;
    padding: 5px 20px;
    color: aliceblue;
    outline: none;
    background: cadetblue;
    font-size: 17px;
    border-radius: 15px;
    cursor: pointer;
    border: solid;
    border-color: black;
    border-width: 1px;
    
}
#search:hover{
    background-color: rgb(29, 118, 121);
}
.weather{
    text-align: center;
    color: aliceblue;
}

#city{
    font-size: 30px;
}

.weather img{
    width: 90px;
    height: 80px;
    
}
#temperature{
    font-size: 50px;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 10px;
}
.temp-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
#clouds{
    font-size: 20px;
    background: rgba(153, 205, 50, 0.778);
    padding: 2px 20px;
    border-radius: 15px;
}
main{
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 5px 1fr;
    align-items: center;
    margin: 0 70px;
    color: white;
}
.next{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.next p,.next h3{
    margin: 3px 0;
}
.forecstD{
    margin: 20px 50px;
    color: aliceblue;
}
.weekF{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.cast-header{
    color: aliceblue;
    background: rgba(254, 189, 132, 0.539);
    width: max-content;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin-bottom: 5px;
}
.divider1,.divider2{
    background: rgba(254, 189, 132, 0.539);
    height: 200px;
    border-radius: 5px;
}
.divider2{
    height: 5px;
    width: 30%;
    margin: 0 auto;
}
.time,.date{
    color: rgb(254, 189, 132);
}
.desc{
    color: rgb(196, 255, 77);
}

footer {
    width: 100%;
    height:8vh;
    display: flex;
    position: absolute;
    left: 0px;
    bottom: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('./icons/16953.jpg');
    box-shadow: 0px 0px 10px black;
}

footer .App-Logo {
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
}

footer .DeveloperInfo {
    color:white;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer .DeveloperInfo #Name {
    color:
    rgb(214, 147, 45);
    font-size: 20px;
}